:root {
    --green: #3c2466; /*#2e2e2e;*/
    --gold: #F4B000;
}

head{
  background-color: var(--green);
}

body{
  font-family: 'Lato', serif;
  color: #fff;
  margin:0;
  background-color: var(--green);
}

img{
  width: 100%;
}

#logo{
  width: 25vw;
  display: block;
  margin: 0 auto;
  margin-top: 12vh;
}

.twitter-wrapper{
  width: 35vw;
  margin: 0 auto;
  padding-bottom: 10vh;
}

.container{
  height: 100%;
  width: 100%;
}

.links-wrapper{
  padding-top: 6vh;
  padding-bottom: 7vh;
  width: 100%;
  text-align: center;
}

a{
  color: #fff;
}

a:hover{
  color: var(--gold);
}

.link a{
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
}

.link a:hover{
  text-decoration: underline;
  color: var(--gold);
}

details[open]{
  color: #fff;
  border: 2px solid #fff;
}

.episode-wrapper{
  padding-bottom: 15vh;
  margin: 0 auto;
  width: 35vw;
  color: #d9d9d9;
}

.episode-tile {
  padding: .5em .5em 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #bababa;
  overflow: wrap;
}

summary {
  margin: -.5em -.5em 0;
  padding: .5em;
  font-size: 20px;
  cursor: pointer;
}

.ep-date {
  float: right;
}
.date-spacer{
  width: 30px;
  color:transparent;
  display: inline-block;
}

.audio-wrapper{
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
audio {
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
}





@media only screen
and (min-device-width : 1900px) {
  #map{
    width: 32vw;
  }
  .map-wrapper{
    margin-top: 4vh;
    padding-bottom: 2vh;
  }
  #logo{
    width: 21vw;
    margin-top: 10vh;
  }
  .twitter-wrapper{
    width: 31vw;
  }
  .episode-wrapper{
    width: 30vw;
  }
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1450px)  { /* iPad */
  #map{
    width: 52vw;
  }
  .map-wrapper{
    margin-top: 10vh;
    padding-bottom: 6vh;
  }
  #logo{
    width: 30vw;
    margin-top: 15vh;
  }
  .twitter-wrapper{
    width: 40vw;
  }
  .episode-wrapper{
    width: 50vw;
  }
  .hours {
    font-size: 1.35em;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { /* iPad */
  #map{
    width: 72vw;
  }
  .map-wrapper{
    margin-top: 8vh;
    padding-bottom: 3vh;
  }
  #logo{
    width: 40vw;
    margin-top: 15vh;
  }
  .twitter-wrapper{
    width: 50vw;
  }
  .episode-wrapper{
    width: 70vw;
  }
  summary {
    font-size: 18px;
  }
  .date-spacer{
    width: 20px;
  }
  .hours {
    font-size: 1.35em;
  }
}

@media only screen
and (min-device-width : 568px)
and (max-device-width : 768px) { /* bigger phone */
  #map{
    width: 82vw;
  }
  .map-wrapper{
    margin-top: 7vh;
    padding-bottom: 3vh;
  }
  #logo{
    width: 60vw;
    margin-top: 15vh;
  }
  .twitter-wrapper{
    width: 70vw;
  }
  .episode-wrapper{
    width: 80vw;
  }
  summary {
    font-size: 17px;
  }
  .date-spacer{
    width: 15px;
  }
  .hours {
    font-size: 1.45em;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) { /* small iPhone */
  #map{
    width: 88vw;
  }
  .map-wrapper{
    margin-top: 7vh;
    padding-bottom: 4vh;
  }
  #logo{
    width: 80vw;
    margin-top: 15vh;
  }
  .twitter-wrapper{
    width: 90vw;
  }
  .episode-wrapper{
    width: 95vw;
  }
  summary {
    font-size: 16px;
  }
  .date-spacer{
    width: 10px;
  }
  .hours {
    font-size: 1.45em;
  }
}



@media only screen and (max-device-width: 420px) { /* tiny screen */
  #map{
    width: 92vw;
  }
  .map-wrapper{
    margin-top: 7vh;
    padding-bottom: 4vh;
  }
  #logo{
    width: 85vw;
    margin-top: 15vh;
  }
  .twitter-wrapper{
    width: 95vw;
  }
  .episode-wrapper{
    width: 95vw;
  }
  summary {
    font-size: 14px;
  }
  .date-spacer{
    width: 5px;
  }
  .hours {
    font-size: 1.45em;
  }
}
