<!DOCTYPE html>
<html>
  <head>
    <title> {{ page.title }} </title>
    <link rel="shortcut icon" type="image/png" href="brief-favicon.png"/>
    <link rel="alternate" type="application/atom+xml" title="Yup & Coming" href="/feed.xml">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF - 8">
  </head>

  <body>

    <div class="container">
      <div class="article">
        <article>
          <h1>
            {{ page.title }}
          </h1>
          <div>
            {{ content }}
          </div>
          <div>
            {{ page.date | date: "%A %b %-d, %Y" }}
          </div>
        </article>
      </div>
    </div>

    <a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="code.js"></script>

  </body>
</html>
