<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>The Andy Pod</title>
        <link>https://theandypod.com/</link>
        <language>en-us</language>
        <copyright>&#169; 2022 Andy Trattner</copyright>
        <itunes:author>Andy Trattner</itunes:author>
        <description>
          Conversations with Andy Trattner and friends.
        </description>
        <itunes:owner>
          <itunes:name>Andy Trattner</itunes:name>
          <itunes:email>tratt@hey.com</itunes:email>
        </itunes:owner>
        <email>tratt@hey.com</email>
        <itunes:image href="https://theandypod.com/img/podcover.jpeg"/>
        <googleplay:owner>tratt@hey.com</googleplay:owner>
        <googleplay:author>Andy Trattner</googleplay:author>
        <googleplay:image href="https://theandypod.com/img/podcover.jpeg"/>
        <itunes:category text="Business">
          <itunes:category text="Careers" />
        </itunes:category>
        <itunes:explicit>yes</itunes:explicit>
        {% for post in site.posts %}
        <item>
          <title>E{{ post.ep }}: {{ post.title }}</title>
          <itunes:title>E{{ post.ep }}: {{ post.title }}</itunes:title>
          <description><![CDATA[ {{ post.content }} ]]></description>
          <itunes:summary><![CDATA[ {{ post.content }} ]]></itunes:summary>
          <content:encoded><![CDATA[ {{ post.content }} ]]></content:encoded>
          <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
          <enclosure url="{{ post.audio }}"
                     type="audio/mpeg" length="{{ post.length }}"/>
          <itunes:duration>{{ post.duration }}</itunes:duration>
          <guid>{{ site.url }}{{ post.url }}</guid>
          <link>https://theandypod.com/</link>
        </item>
        {% endfor %}
    </channel>
</rss>
